{% extends 'layout.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>This is the chat page.<br>
    Here you can write and have discussions about cinemas in the UK with other users </p>
    <br>

    {% for uploaded_message in uploaded_messages %}
        <div class="chat">
            <p class= "posted-message">
                <strong>
                    {{uploaded_message.user.first_name}} {{uploaded_message.user.last_name}}
                </strong><br/>
                {{uploaded_message.message_text}}<br/>
            </p>
        </div>
            
        </p>
        <br/>
    {%endfor%}
        
    <a href="{{url_for('chat.message')}}">Post a new message</a>


{% endblock %}